header {
    background-color: navy
}

body {
  background-color: navy;
    opacity: 0.8;
}

h1 {
    color: navy;
    text-align: center;
    border: 5px solid black;
    padding: 15px 15px 15px 15px;
    background-color: white;
}

.links {
    text-align: center;
    font-size: 32px;
    list-style: none;
}

label{
    font-size: 18px;
    color: gray;

dl {
    font-size: 24px;
    text-align: center;
    border: 5px solid black;
    padding: 15px 15px 15px 15px;
    background-color: white;
}

table, td {
  border: 3px solid black;
  border-collapse: collapse;
}

img {
  border: 3px solid black;
}
    
.fore {
    background-color: gray;
    border: 3px navy;
    left-margin: auto;
    right-margin: auto;
 }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


